/* .App {
  text-align: center;
} */

.data-cell {
  border: 1px black solid;
  padding: 5px;
  
}

.header-cell {
  border: 1px black solid;
  padding: 5px;
}

.add-employee-button {
  margin-bottom: 10px;
}

.buttons {
  margin: 5px;
}